# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments
.env
.venv
venv/
ENV/

# Jupyter
.ipynb_checkpoints

# Model files
*.h5
*.hdf5
model/
face_mask_detector_model.h5

# VSCode
.vscode/
